<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.oes.mapper.JudgeQuestionMapper">

    <resultMap id="BaseResultMap" type="com.wxs.oes.domain.JudgeQuestion">
            <id property="questionid" column="questionId" jdbcType="INTEGER"/>
            <result property="subject" column="subject" jdbcType="VARCHAR"/>
            <result property="question" column="question" jdbcType="VARCHAR"/>
            <result property="answer" column="answer" jdbcType="VARCHAR"/>
            <result property="analysis" column="analysis" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="level" column="level" jdbcType="VARCHAR"/>
            <result property="section" column="section" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        questionId,subject,question,
        answer,analysis,score,
        level,section
    </sql>
</mapper>
