<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.oes.mapper.PaperManageMapper">

    <resultMap id="BaseResultMap" type="com.wxs.oes.domain.PaperManage">
            <result property="paperid" column="paperId" jdbcType="INTEGER"/>
            <result property="questiontype" column="questionType" jdbcType="INTEGER"/>
            <result property="questionid" column="questionId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        paperId,questionType,questionId
    </sql>
</mapper>
