<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.oes.mapper.ReplayMapper">

    <resultMap id="BaseResultMap" type="com.wxs.oes.domain.Replay">
            <id property="replayid" column="replayId" jdbcType="INTEGER"/>
            <result property="messageid" column="messageId" jdbcType="INTEGER"/>
            <result property="replay" column="replay" jdbcType="VARCHAR"/>
            <result property="replaytime" column="replayTime" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        replayId,messageId,replay,
        replayTime
    </sql>
</mapper>
